**/__pycache__/


logs/schema_agnostic/extended/complementarity.txt

python/baseline/ZeroER/datasets/*
python/baseline/Sparkly/pylucene-9.7.0/*

legacy/*
plots/*
data/*

logs/supervised_experiments/*
jupyter/.ipynb_checkpoints/
